body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
:root {
  --orange: #cc8a43;
  --rose: #df00b7;
  --lightBleu: #5fa3b1;
  --movv: #9600b9;
  --main: #8a6cd3;
  --second: #262132;
  --lsecond: #2e273e;
  --br: #9c7ee9;
  --gray: #858097;
  --sp: #a485f5;
  --notimp: #878299;
}
.pc {
  display: none;
}
@media (min-width: 550px) {
  .pc {
    background-color: #eee;
    z-index: 95;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }
}
* {
  box-sizing: border-box;
}
.psw {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--lsecond);
  display: flex;
  justify-content: center;
  align-items: center;
}
.psw form {
  background-color: var(--second);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  color: white;
  height: 80vh;
  width: 90vw;
  text-align: center;
  align-items: center;
  border-radius: 29px;
  position: relative;
  z-index: 3;
  left: 4px;
  top: 4px;
  min-height: 600px;
}
.psw0 {
  position: relative;
  height: calc(80vh + 8px);
  width: calc(90vw + 8px);
  overflow: hidden;
  border-radius: 29px;
  min-height: 608px;
}
.psw0::after {
  content: "";
  animation: turn 1s infinite linear;

  height: 4000px;
  width: 4000px;
  position: absolute;
  background-image: conic-gradient(
    var(--movv) 10deg,
    var(--orange),
    var(--rose),
    var(--lightBleu),
    var(--movv)
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.psw form #key {
  background-color: var(--second);
  width: 60%;
  outline: none;
  padding: 10px 20px;
  border: transparent;
  border-bottom: var(--br) 4px solid;
  color: var(--gray);
  font-size: 18px;
}
.psw form #chk {
  width: 40%;
  height: 45px;
  background-color: var(--main);
  border: var(--main) 2px solid;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  z-index: 99;
  color: var(--second);
  cursor: pointer;
  margin-top: 10px;
}
.psw form #chk:hover {
  color: var(--main);
  background-color: transparent;
}
.psw form h1 {
  margin-top: 10px;
  font-family: "Big Shoulders Display", cursive;
  font-size: 50px;
  font-family: "Vujahday Script", cursive;
  text-decoration: underline solid var(--sp) 1px;
}
.psw form #wrng {
  color: rgb(223, 0, 0);
  font-weight: 900;
  font-size: 23px;
  margin-top: -20px;
  display: none;
}
.anim {
  animation: fade 2s forwards ease-in;
}
.psw form span {
  font-size: 13px;
  margin-bottom: -20px;
  color: var(--notimp);
}
.psw form span a {
  color: var(--movv);
  font-weight: 700;
}

.game {
  padding: 70px 0 0;
  display: none;
  flex-flow: column;
  row-gap: 50px;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.game .start {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--lsecond);
  height: 35vh;
  width: 90vw;
  border-radius: 25px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.game .output {
  border-radius: 25px;

  background-image: linear-gradient(
    -30deg,
    var(--lightBleu),
    var(--sp),
    var(--lightBleu)
  );

  height: 50vh;
  width: 90vw;
  color: white;
  padding: 20px;
}
.game .start .btn {
  background-image: linear-gradient(130deg, var(--main), var(--movv));
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  line-height: 30vw;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  cursor: pointer;
  filter: saturate(2.5);
}
.game .start .btn:hover {
  filter: saturate(3.5);
  border: rgba(0, 0, 0, 0.74) 4px inset;
}
.game .start .prsns {
  height: 50px;
  position: absolute;
  top: -50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.game .start .prsns #nmbr {
  background-color: white;
  font-size: 30px;
  margin-top: -2px;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 60vw;
  height: 6px;
  z-index: 3;
  border-radius: 20px;
  background-color: var(--main);
  outline: none;
  margin: 0 35px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--main);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
  border: transparent;
  border: var(--second) 3px solid;
  box-sizing: border-box;
}
.slider::-moz-range-thumb,
.slider::-ms-thumb {
  -webkit-appearance: none;
  background-color: var(--main);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
  border: transparent;
  border: var(--second) 3px solid;
  box-sizing: border-box;
}
@keyframes turn {
  form {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes fade {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.sliderx {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 0px !important;
  border-radius: 50px;
  border: black;
}

.sliderx:before {
  box-sizing: border-box;
  border-radius: 50px;
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  left: -1px;
  bottom: -5px;
  background-color: var(--second);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: var(--gray) 5px solid;
}

input:checked + .sliderx {
  background-color: var(--main);
}

input:focus + .sliderx {
  box-shadow: 0 0 1px #7e7e7e;
}

input:checked + .sliderx:before {
  -webkit-transform: translateX(29px);
  -ms-transform: translateX(29px);
  transform: translateX(29px);
  border-color: var(--main);
}

.content {
  display: none;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90vw;
  height: 80vh;
  background-color: rgb(73, 73, 73);
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  z-index: 3;
}
.content:target {
  display: flex;
}
.content form {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}
.content form h2 {
  text-align: center;
  color: #f32121;
}
.content form input,
.content form textarea {
  border-radius: 25px;
  color: #f32121;
  font-size: 20px;
  padding: 5px 10px;
  background-color: black;
}
.menu {
  border-radius: 5px;
  background-color: var(--second);
  height: 50px;
  width: 90vw;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 50%;
  transform: translateX(50%);
  text-align: center;
}
.menu .suggestion a {
  color: var(--notimp);
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}
.content a {
  color: white;
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 30px;
}
#my-form-status {
  background: rgb(197, 250, 91);
  color: green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 900;
  padding: 20px 30px;
  border-radius: 10px;
  display: none;
  animation: fade 4s 1s forwards;
}
.spinning {
  background-color: var(--second);
  height: 95vw;
  width: 95vw;
  display: none;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  border-radius: 10px;
}
.spinning .spinner {
  margin: 20px;
  transition: transform 5s;
  background-image: conic-gradient(
    var(--movv) 10deg,
    var(--orange),
    var(--rose),
    var(--lightBleu),
    var(--movv)
  );
  height: 85vw;
  width: 85vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinning .spinner i {
  font-size: 30vw;
  color: var(--lsecond);
  transform: rotate(-45deg);
}
.opt0 {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}
